{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block search_area %}
    <!--<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-top: 4px;">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter your project topic here" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>-->
    {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        <!--<button type="submit" class="btn btn-outline-primary">Search</button>-->
    {{ form_end(searchForm) }}
{% endblock %}

{% block left_side %}
    <div class="col-lg-6">
        <p>
            <span class="text-bold">Projects Lab</span> assist you in researching, writing and preparing Advance Level academic project work, editing and producing materials in pdf, doc, docx and epub file formats depending on your preference.
        </p>
        <p>
            Allow us to handle you work today for quality project materials and good academic grades by first searching for your topic.
        </p>
    </div>
{% endblock %}

{% block right_side %}
    <div class="col-lg-6">
        <p>We are on a test run, keep testing.</p>
    </div>
{%endblock%}

{% block bottom %}
    <div class="row">							
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <h5 class="">Univerisity</h5>
                    <ul class="list-unstyled text-small">
                        <li>ABU Zaria</li>
                        <li>Bayero Uni, Kano</li>
                        <li>Uni Calabar</li>
                        <li>Uni Lagos</li>                                                
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="">Polythenic</h5>
                    <ul class="list-unstyled text-small">
                        <li>KADPOLY</li>
                        <li>PLAPOLY</li>
                        <li>LAUTECH</li>
                        <li>EKPOMA</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="">Monotechnic</h5>
                    <ul class="list-unstyled text-small">
                        <li>Bauchi</li>
                        <li>Al-In Mono</li>
                        <li>Kazaure Mono</li>
                        <li>Zamfara</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="">College of Education</h5>
                    <ul class="list-unstyled text-small">
                        <li>FCE Zaria</li>
                        <li>COE Gidan Waya</li>
                        <li>COE Bichi</li>
                        <li>FCE Langtang</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
