{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    <!-- div container -->
    <div class="container">
        <!-- div project display panel -->
        <div class="row drop-top drop-bottom">

            <!-- project list -->
            <div id="project-list" class="col-4 drop-top">
                <div class="list-group" id="list-tab" role="tablist">
                    <!-- investigate how we can add object directly from session 
                    into twig -->
                    {% for project in project_searched %}                                                   
                        <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"></h5>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravita at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>                            
                    {% endfor %}
                    <!--<a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravita at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a> -->
                </div>
            </div>
            <!-- end #project-list -->

            <!-- project details display -->
            <div id="project-details" class="col-8 drop-top">
                <!-- enter the contents of the project here. -->
            </div>
            <!-- end #project-details -->

        </div>
    </div>
    <!-- end .container -->
{% endblock %}

{% block javascripts %}{% endblock %}
