@charset "ISO-8859-1";

.drop-top {
	margin-top: 50px;
}

.drop-bottom {
	margin-bottom: 50px;
}
.hide{	
	display: none;
}
.show{
	display: block;
}
.my-list{
	cursor: pointer;
}
.add-btn-container{
	margin-top: 10px; 
	margin-bottom: 10px;
}